:root {
  --primary-text-color: #212121;
  --title-text-color: #2196f3;
  --text-color: #757575;
  --hero-color: #ffffff;
}

/* Логотип*/
.logo {
  color: var(--title-text-color);
}
.logo-web {
  color: #000000;
}

.logo-web:hover,
.logo-web:focus {
  color: var(--title-text-color);
}

.list {
  list-style: none;
}

/*site-nav*/
.site-nav .link {
  color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--title-text-color);
}

.site-auth .auth-link {
  color: var(--primary-text-color);
}
.site-auth .auth-link:hover,
.site-auth .auth-link:focus {
  color: var(--title-text-color);
}

/*Общее оформление текста*/
.section-h3 {
  color: var(--primary-text-color);
}
.section-text {
  color: var(--text-color);
}

/*Hero*/
.hero {
  background-color: #2f303a;
}

.hero-title {
  color: var(--hero-color);
}

/*Button*/
.button {
  color: var(--hero-color);
  background-color: var(--title-text-color);
}

/*portfolio*/
.section-h2 {
  color: var(--primary-text-color);
}

.port-button {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
}

.port-button:hover,
.port-button:focus {
  color: var(--hero-color);
  background-color: var(--title-text-color);
}
